body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0d0d0d; /* Dark background */
    font-family: Arial, sans-serif;
    color: white; /* Ensure the text is visible on dark background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set body height to viewport height */
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure particles are behind other content */
}

.content {
    padding: 20px;
    text-align: center; /* Center the text */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background to enhance text visibility */
    border-radius: 10px;
    max-width: 80%; /* Ensure it doesn't stretch too wide */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Shadow effect */
}

h1, h2, h3, p {
    margin: 10px 0; /* Add some margin for spacing */
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: Arial, sans-serif; /* Arial font */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Darker semi-transparent black on hover */
}
